# Please modify this file to fit your individual needs
# For more information visit https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*
